body {
    background: url(fondo.png), linear-gradient(#7209b2, #3f37c0)
}

.form-h1 {
    text-align: center;
    color: #ddd;
}

.contenedor{
    margin: 50px auto;
    width: 35%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

@media screen and (max-width: 900px){
    .contenedor{
        width: 70%;
    }
}

.contenedor h2 {
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;

}

.contenedor .elemento label {
    color:#fff;
}

.contenedor .elemento input {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1rem;
}

.contenedor .elemento {
  text-align: center;
}

.contenedor .elemento button {
    background-color: #f72585;
    width: 35%;
    border: none;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: bold;
    color: #ddd;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 5px;
    padding: 0px 0%;
}

.xml-form {
    margin-left: auto;
    margin-right: auto;
    width: 57%;
}

@media screen and (max-width: 900px){
    .wrapper{
        grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
        padding: 0px 3%;
    }

    .xml-form {
        width: 80%;
    }
}

.container {
    margin: 0px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.xml-form span {
    margin-top: 2rem;
    color: #ddd;
}

.xml-form input {
    width: 100%;
    padding: 0.2rem 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.xml-form select {
    width: 100%;
    padding: 0.2rem 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.xml-form > * {
    padding: 0.1rem;
    margin: 0.2rem auto 0.5rem;
    width: 100%;
}

.xml-form legend {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.xml-form * {
    font-family: sans-serif;
    font-size: 1rem;
    color: #444;
}

.xml-button {
    padding: 0.5rem;
    margin: 1rem auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #4cc9f0;
    color: #ddd;
    border: none;
    border-radius: 10px;
}

.hide {
    display: none;
}
